/* add home page styles here */

.shells {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
}

.shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    position: relative;
}

.shell.reveal img {
    transform: translateY(-75px);
}

.shell img {
    width: 100%;
    transition: transform .5s;
    z-index: 20;
    background-color: white;
}

button {
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    cursor: pointer;
    opacity: .7;
}

.ball {
    background-color:lightseagreen;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    opacity: .5;
    z-index: 10;
    position: absolute;
    top: 175px;
}

.results {
    margin-top: 50px;
    line-height: 50px;
}

#reset {
    background-color: red;
}
